<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>Clip-One - Responsive Admin Template</title>
    <!-- start: META -->
    <div th:replace="fragments::common_css">
        <link rel="stylesheet" href="../../static/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/assets/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/assets/fonts/style.css">
        <link rel="stylesheet" href="../../static/assets/css/main.css">
        <link rel="stylesheet" href="../../static/assets/css/main-responsive.css">
        <link rel="stylesheet" href="../../static/assets/plugins/iCheck/skins/all.css">
        <link rel="stylesheet" href="../../static/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
        <link rel="stylesheet" href="../../static/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
        <link rel="stylesheet" href="../../static/assets/css/theme_light.css" type="text/css" id="skin_color">
        <link rel="stylesheet" href="../../static/assets/css/print.css" type="text/css" media="print"/>

        <!--[if IE 7]>
        <link rel="stylesheet" href="../../static/assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
        <![endif]-->
        <!-- end: MAIN CSS -->

        <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->

        <link rel="stylesheet" href="../../static/assets/plugins/select2/select2.css">
        <link rel="stylesheet" href="../../static/assets/plugins/datepicker/css/datepicker.css">
        <link rel="stylesheet" href="../../static/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
        <link rel="stylesheet" href="../../static/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css">
        <link rel="stylesheet" href="../../static/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css">
        <link rel="stylesheet" href="../../static/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.css">
        <link rel="stylesheet" href="../../static/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css">
        <link rel="stylesheet" href="../../static/assets/plugins/summernote/build/summernote.css">
        <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    </div>
</head>

<body>
<!-- start: HEADER -->
<div th:replace="fragments::header" class="navbar navbar-inverse navbar-fixed-top">
    <!-- start: TOP NAVIGATION CONTAINER -->
    <div class="container">
        <div class="navbar-header">
            <!-- start: RESPONSIVE MENU TOGGLER -->
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="clip-list-2"></span>
            </button>
            <!-- end: RESPONSIVE MENU TOGGLER -->
            <!-- start: LOGO -->
            <a class="navbar-brand" href="index.html">
                竞赛管理
            </a>
            <!-- end: LOGO -->
        </div>
        <div class="navbar-tools">
            <!-- start: TOP NAVIGATION MENU -->
            <ul class="nav navbar-right">
                <!-- start: USER DROPDOWN -->
                <li class="dropdown current-user">
                    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true"
                       href="#">
                        <img src="assets/images/avatar-1-small.jpg" class="circle-img" alt="">
                        <span class="username">Peter Clark</span>
                        <i class="clip-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="pages_user_profile.html">
                                <i class="clip-user-2"></i>
                                &nbsp;个人信息
                            </a>
                        </li>
                        <li>
                            <a href="login_example1.html">
                                <i class="clip-exit"></i>
                                &nbsp;登出
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- end: USER DROPDOWN -->
            </ul>
            <!-- end: TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- end: TOP NAVIGATION CONTAINER -->
</div>

<div class="main-container">
    <div th:replace="fragments::left" class="navbar-content"></div>
    <!-- start: PAGE -->
    <div class="main-content">
        <!-- start: PANEL CONFIGURATION MODAL FORM -->
        <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">Panel Configuration</h4>
                    </div>
                    <div class="modal-body">
                        Here will be a configuration form
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- end: SPANEL CONFIGURATION MODAL FORM -->
        <div class="container">
            <!-- start: PAGE HEADER -->
            <div class="row">
                <div class="col-sm-12">
                    <!-- start: PAGE TITLE & BREADCRUMB -->
                    <ol class="breadcrumb">
                        <li>
                            <i class="clip-pencil"></i>
                            <a href="#">
                                商品
                            </a>
                        </li>
                        <li class="active">
                            编辑商品
                        </li>
                    </ol>
                    <div class="page-header">
                        <h1>编辑商品</h1>
                    </div>
                    <!-- end: PAGE TITLE & BREADCRUMB -->
                </div>
            </div>
            <!-- end: PAGE HEADER -->
            <!-- start: PAGE CONTENT -->
            <div class="row">
                <div class="col-md-12">

                    <form role="form" action="/item/add" enctype="multipart/form-data" class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="form-field-1">
                                商品名称
                            </label>
                            <div class="col-sm-9">
                                <input name="name" type="text" id="form-field-1" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="form-field-2">
                                商品分类
                            </label>
                            <div class="col-sm-9">
                                <input name="type" type="text" id="form-field-2" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                参考价格
                            </label>
                            <div class="col-sm-9">
                                <input name="price" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                排序
                            </label>
                            <div class="col-sm-9">
                                <input name="order" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                商品图
                            </label>
                            <div class="col-sm-9">
                                <input name="itemPic" type="file" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                轮播图
                            </label>
                            <div class="col-sm-9">
                                <input name="showPicList" type="file" multiple="multiple" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                商品描述
                            </label>
                            <div class="col-sm-9">
                                    <textarea name="desc" id="form-field-22" class="form-control"
                                              style="margin: 0px -11px 0px 0px; height: 78px; width: 718px;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                详情图
                            </label>
                            <div class="col-sm-9">
                                <input name="descPicList" type="file" multiple="multiple" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-8">
                                <button type="submit" class="btn btn-success finish-step btn-block">
                                    提交 <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end: PAGE CONTENT-->
        </div>
    </div>
    <!-- end: PAGE -->

</div>
<div th:replace="fragments::footer" class="footer clearfix">
    <div class="footer-inner">

    </div>
    <div class="footer-items">
        <span class="go-top"><i class="clip-chevron-up"></i></span>
    </div>

</div>
</body>
<div th:replace="fragments::common_js">
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if gte IE 9]><!-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <![endif]-->
    <!--<![endif]-->

    <script src="../../static/assets/plugins/respond.min.js"></script>
    <script src="../../static/assets/plugins/excanvas.min.js"></script>
    <script type="text/javascript" src="../../static/assets/plugins/Jquery/jquery-3.3.1.min.js"></script>
    <script src="../../static/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="../../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="../../static/assets/plugins/blockUI/jquery.blockUI.js"></script>
    <script src="../../static/assets/plugins/iCheck/jquery.icheck.min.js"></script>
    <script src="../../static/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
    <script src="../../static/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
    <script src="../../static/assets/plugins/less/less-1.5.0.min.js"></script>
    <script src="../../static/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script src="../../static/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
    <script src="../../static/assets/js/main.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="../../static/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="../../static/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script src="../../static/assets/plugins/select2/select2.min.js"></script>
    <script src="../../static/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script src="../../static/assets/plugins/jquery-maskmoney/jquery.maskMoney.js"></script>
    <script src="../../static/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="../../static/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="../../static/assets/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script src="../../static/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="../../static/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="../../static/assets/plugins/bootstrap-colorpicker/js/commits.js"></script>
    <script src="../../static/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.js"></script>
    <script src="../../static/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script src="../../static/assets/plugins/summernote/build/summernote.min.js"></script>
    <script src="../../static/assets/plugins/ckeditor/ckeditor.js"></script>
    <script src="../../static/assets/plugins/ckeditor/adapters/jquery.js"></script>
    <script src="../../static/assets/js/form-elements.js"></script>

    <script src="../../static/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>

    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script>
        jQuery(document).ready(function () {
            Main.init();
            FormElements.init();
        });
    </script>

</div>
</html>
